/* Base Styles */
body, html {
    font-family: 'Sora', sans-serif;
    background: #F6F6F6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centering vertically */
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8vh; /* Slightly raise the app window for visual balance */
}

.frame, .frame.active {
    display: none; /* Initially hide all frames, flex only for .active */
    background: white;
    padding: 40px; /* Increase padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%; /* Use full width for larger size */
    max-width: 1200px; /* Set max-width to scale up */
    box-sizing: border-box; /* Include padding in the width */
    margin-bottom: 20px; /* Space before footer */
}

.frame.active {
    display: flex; /* Reveal the active frame */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question, label, #results-entry {
    font-size: 28px; 
    font-weight: bold;
    margin: 20px 0;
    color: black;
    text-align: center;
}

.button-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

button {
    margin: 20px;
    padding: 40px 80px; /* Large touch-friendly padding */
    font-size: 48px; /* Large, readable text */
    font-weight: bold;
    color: white;
    background-color: #A6DA00; /* Vibrant green background */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Indicates clickable items */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    flex: 0 0 auto; /* Don't grow, shrink, or flex */
}

button:hover, button:focus, button:active {
    background-color: #00B400; /* Darker green on hover/focus/active */
}

.footer {
    text-align: center;
    padding: 10px;
    background: #f8f9fc;
    font-size: 20px;
    width: 100%;
    position: relative; 
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #app {
        margin-top: 5vh; 
    }
    .frame, .question, button, label, #results-entry {
        padding: 20px; 
        font-size: 24px; 
    }
    .button-container {
        flex-direction: column; 
    }
}

@media (max-width: 600px) {
    .question, label, #results-entry, .footer {
        font-size: 18px; 
    }
    .frame {
        padding: 20px; 
    }
    button {
        padding: 20px 40px; 
        font-size: 24px; 
    }
    .footer {
        font-size: 16px; 
    }
}