/* Updated style.css */
body, html {
    font-family: 'Sora', sans-serif;
    background: #F6F6F6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centering vertically */
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8vh; /* Slightly raise the app window for visual balance */
}

.frame {
    display: none; /* Initially hide all frames */
    background: white;
    padding: 40px; /* Increase padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%; /* Use full width for larger size */
    max-width: 1200px; /* Set max-width to scale up */
    box-sizing: border-box; /* Include padding in the width */
    margin-bottom: 20px; /* Space before footer */
}

.frame.active {
    display: flex; /* Use flex layout to position buttons */
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center;
}

.question, label, #results-entry {
    font-size: 28px; /* Adjust font size for consistency */
    font-weight: bold;
    margin: 20px 0;
    color: black;
    text-align: center;
}

.button-container {
    width: 100%; /* Full width of the container */
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

button {
    margin: 20px;
    padding: 40px 80px; /* Larger padding for finger-friendly touch */
    font-size: 48px; /* Increased font size */
    font-weight: bold;
    color: white;
    background-color: #A6DA00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 0 0 auto; /* Don't grow or shrink */
}

button:hover, button:focus {
    background-color: #00B400;
}

button:active {
    background-color: #00B400;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #f8f9fc;
    font-size: 20px;
    width: 100%;
    position: relative; /* Position relative to its normal position */
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
    #app {
        margin-top: 5vh; /* Less negative margin for small screens */
    }
    .frame {
        padding: 20px;
    }
    .question, button, label, #results-entry {
        font-size: 24px;
    }
    .button-container {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
    }
}
